<a href="https://colab.research.google.com/github/lrssv/ComputacaoEvolutiva/blob/master/ComputacaoEvolutiva_E1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install category_encoders

In [46]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from pandas import read_csv

In [62]:
url = '/content/drive/My Drive/Data Files/database.csv'
df = pd.read_csv(url)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [63]:
df = df.drop(columns=['State','Agency Type','Agency Code','Agency Name','Record Source'])

In [49]:
df.head(5)

   Record ID       City  Year  ...         Weapon  Victim Count Perpetrator Count
0          1  Anchorage  1980  ...   Blunt Object             0                 0
1          2  Anchorage  1980  ...  Strangulation             0                 0
2          3  Anchorage  1980  ...        Unknown             0                 0
3          4  Anchorage  1980  ...  Strangulation             0                 0
4          5  Anchorage  1980  ...        Unknown             0                 1

[5 rows x 19 columns]

In [64]:
df['Victim Sex'].value_counts()
counts = df['Victim Sex'].value_counts().to_dict()
print(counts)

{'Male': 494125, 'Female': 143345, 'Unknown': 984}

In [65]:
df['Victim Sex'] = df['Victim Sex'].map({'Female': 2, 'Male': 1, 'Unknown':0})
df['Perpetrator Sex'] = df['Perpetrator Sex'].map({'Female': 2, 'Male': 1, 'Unknown':0})

In [66]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=42)

In [67]:
from category_encoders import TargetEncoder

enc = TargetEncoder(cols=['City','Month','Crime Type','Crime Solved','Victim Race','Victim Ethnicity','Perpetrator Race',
                          'Perpetrator Ethnicity','Relationship','Weapon'])
df_encoded = enc.fit_transform(x_train, y_train)

In [69]:
df_encoded

            City  Crime Solved  Crime Type  ...  Victim Race    Weapon  Year
260589  1.220000      1.245563    1.222623  ...     1.270055  1.153926  1992
172548  1.155102      1.169828    1.222623  ...     1.270055  1.368114  1988
187785  1.276596      1.245563    1.222623  ...     1.270055  1.153926  1989
601243  1.228388      1.245563    1.222623  ...     1.173642  1.136928  2013
112374  1.148085      1.169828    1.222623  ...     1.173642  1.136928  1985
...          ...           ...         ...  ...          ...       ...   ...
536650  1.235144      1.245563    1.222623  ...     1.173642  1.268981  2008
50001   1.234149      1.245563    1.222623  ...     1.173642  1.153926  1982
560011  1.244988      1.245563    1.222623  ...     1.270055  1.224975  2009
441551  1.181420      1.245563    1.222623  ...     1.173642  1.268981  2002
248423  1.120404      1.245563    1.222623  ...     1.173642  1.153926  1992

[510763 rows x 18 columns]

In [68]:
x = df_encoded[df_encoded.columns.difference(['Victim Sex'])]
y = df_encoded[['Victim Sex']]

KeyError: ignored

In [ ]:
#######################################################################

In [56]:
victim_model = DecisionTreeClassifier(random_state=42,max_depth=10)

In [60]:
victim_model.fit(training_set)

TypeError: ignored

In [ ]:
print(x_train)