<a href="https://colab.research.google.com/github/lrssv/ComputacaoEvolutiva/blob/master/Data_treatment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Model for classifying the victim's gender using an evolutionary algorithm to select features.

* ## Data Treatment

## Imports

In [ ]:
!pip install category_encoders

In [21]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from pandas import read_csv 
from category_encoders import TargetEncoder

## Scripts

In [22]:
def database(url):
  df = pd.read_csv(url)
  df = df.drop(columns=['State','Agency Type','Agency Code','Agency Name','Record Source'])

  return df

In [23]:
def target_encoder(df):
  df['Victim Sex'] = df['Victim Sex'].map({'Female': 2, 'Male': 1, 'Unknown':0})
  df['Perpetrator Sex'] = df['Perpetrator Sex'].map({'Female': 2, 'Male': 1, 'Unknown':0})

  enc = TargetEncoder()
  df_encoded = enc.fit_transform(df, df['Victim Sex'])

  return (df_encoded)

## Instances

In [24]:
df = database('/content/drive/My Drive/Data Files/database.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [25]:
df_encoded = target_encoder(df)

In [26]:
df_encoded

        Record ID      City  Year  ...    Weapon  Victim Count  Perpetrator Count
0               1  1.279586  1980  ...  1.370346             0                  0
1               2  1.279586  1980  ...  1.683970             0                  0
2               3  1.279586  1980  ...  1.365691             0                  0
3               4  1.279586  1980  ...  1.683970             0                  0
4               5  1.279586  1980  ...  1.365691             0                  1
...           ...       ...   ...  ...       ...           ...                ...
638449     638450  1.403846  2014  ...  1.153664             0                  0
638450     638451  1.393939  2014  ...  1.153664             0                  0
638451     638452  1.393939  2014  ...  1.573841             0                  0
638452     638453  1.277778  2014  ...  1.267381             0                  1
638453     638454  1.355263  2014  ...  1.370346             0                  1

[638454 rows x 19 columns]

In [27]:
#Exporta pra csv
df_encoded.to_csv('/content/drive/My Drive/Data Files/df_model_victim_encoded')