<a href="https://colab.research.google.com/github/lrssv/ComputacaoEvolutiva/blob/master/Data_treatment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Model for classifying the Perpetrator's gender using an evolutionary algorithm to select features.

## - Data Treatment
This code has all steps for data treatment. Where:

* Imports: the necessary libraries
* Scripts: in here we have the original dataset without some data that is not relevant for the problem. And the technic *Target Encoder* to transform categorical data into numerical.
* Setups: results and export.

## Imports

In [ ]:
!pip install category_encoders

In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from pandas import read_csv 
from category_encoders import TargetEncoder

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Scripts

In [3]:
def database(url):
  df = pd.read_csv(url)
  df = df.drop(columns=['Record ID','State','Agency Type','Agency Code','Agency Name','Record Source'])

  return df

In [4]:
def target_encoder(df):
  df['Victim Sex'] = df['Victim Sex'].map({'Female': 2, 'Male': 1, 'Unknown':0})
  df['Perpetrator Sex'] = df['Perpetrator Sex'].map({'Female': 2, 'Male': 1, 'Unknown':0})

  enc = TargetEncoder()
  df_encoded = enc.fit_transform(df, df['Perpetrator Sex'])

  return (df_encoded)

## Setups

In [8]:
#Original Dataset
df = database('/content/drive/My Drive/Data Files/database.csv')
df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

              City  Year  ... Victim Count  Perpetrator Count
0        Anchorage  1980  ...            0                  0
1        Anchorage  1980  ...            0                  0
2        Anchorage  1980  ...            0                  0
3        Anchorage  1980  ...            0                  0
4        Anchorage  1980  ...            0                  1
...            ...   ...  ...          ...                ...
638449        Park  2014  ...            0                  0
638450    Sheridan  2014  ...            0                  0
638451    Sheridan  2014  ...            0                  0
638452    Sublette  2014  ...            0                  1
638453  Sweetwater  2014  ...            0                  1

[638454 rows x 18 columns]

In [6]:
#Dataset encoded
df_encoded = target_encoder(df)
df_encoded

            City  Year     Month  ...    Weapon  Victim Count  Perpetrator Count
0       0.903846  1980  0.793266  ...  0.849845             0                  0
1       0.903846  1980  0.791463  ...  0.591739             0                  0
2       0.903846  1980  0.791463  ...  0.665462             0                  0
3       0.903846  1980  0.791873  ...  0.591739             0                  0
4       0.903846  1980  0.791873  ...  0.665462             0                  1
...          ...   ...       ...  ...       ...           ...                ...
638449  0.884615  2014  0.793266  ...  0.737014             0                  0
638450  1.090909  2014  0.781242  ...  0.737014             0                  0
638451  1.090909  2014  0.774064  ...  1.015373             0                  0
638452  0.833333  2014  0.749398  ...  0.932068             0                  1
638453  1.013158  2014  0.774064  ...  0.849845             0                  1

[638454 rows x 18 columns]

In [7]:
#Export to csv
df_encoded.to_csv('/content/drive/My Drive/Data Files/df_model_per_encoded')